# ============================================================
# GUACAMOLE - Variáveis de Ambiente
# ============================================================

TZ=America/Fortaleza

GUACAMOLE_PORT_EXTERNAL=8081
GUACAMOLE_PORT_INTERNAL=8080
PG_GUACA_PORT_EXTERNAL=5433
PG_GUACA_PORT_INTERNAL=5432

GUACA_PGDATA_PATH=./data/postgres
GUACD_DRIVE_PATH=./data/drive
GUACD_RECORD_PATH=./data/record

POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_admin
POSTGRES_PASSWORD='CHANGE_ME_GUACAMOLE_DB_PASSWORD'

GUACD_HOSTNAME=guacd
GUACD_PORT=4822

POSTGRESQL_HOSTNAME=postgres-guaca
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=guacamole_db
POSTGRESQL_USERNAME=guacamole_admin
POSTGRESQL_PASSWORD='CHANGE_ME_GUACAMOLE_DB_PASSWORD'
