# ============================================================
# KEYCLOAK - Variáveis de Ambiente
# ============================================================

TZ=America/Fortaleza

KC_PORT_EXTERNAL=8080
KC_PORT_INTERNAL=8080
PG_KC_PORT_EXTERNAL=5432
PG_KC_PORT_INTERNAL=5432

KC_PGDATA_PATH=./data/postgres

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak_admin
POSTGRES_PASSWORD='CHANGE_ME_KEYCLOAK_DB_PASSWORD'

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres-keycloak:5432/keycloak
KC_DB_USERNAME=keycloak_admin
KC_DB_PASSWORD='CHANGE_ME_KEYCLOAK_DB_PASSWORD'

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD='CHANGE_ME_KEYCLOAK_ADMIN_PASSWORD'

KC_HOSTNAME=sso.example.local
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
KC_PROXY_HEADERS=xforwarded

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

